body {
    background-color: black;
    color: white;
    text-align: center;
}

table {
    margin: auto;
}

.cell {
    width: 40px;
    height: 40px;
}
.cell img {
    width: 25px;
}

.floor {
    background-color: gray;
}

.wall {
    background-color: brown;
}

.counter {
    background-color: grey;
    border-radius: 15%;
    font-size: 30px;
    width: 100px;
    color: black;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.victory-modal {
    background-color: #fff;
    color: black;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    display: none;
}
